<%= form_for @application do |f| %>
    <ul class="list-unstyled">
        <%= f.collection_check_boxes(:id, Application.all, :id, :name, {:multiple => true}) do |box| %>
            <li class="text-white"><%= box.check_box %>          <%= box.label %></li>
        <% end %>
        <%= f.submit("Add app") %>
    </ul>
<% end %>